form {
  display: flex;
  justify-content: center;
}

.search-box { 
  @include width-height(50%, 40px);
  border: 1.5px solid $limegreen;
  background: transparent;
  border-radius: 20px;
  color: #fff;
  outline: none;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 60px;
}

::placeholder {
    font-size: 20px;
    margin-left: 5px;
    font-family: $lato;
    letter-spacing: $letter-spacing;
    color: rgba(255, 255, 255, 0.6);
  }