// put scss that you use throught the whole app 
// $background: color;

@import url('https://fonts.googleapis.com/css?family=Lato:300');
$lato: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Oswald:300');
$oswald: 'Oswald', sans-serif;

$letter-spacing: 5px;
$limegreen: #01d277;
